.btn-1 {
    border: transparent;
    color: white;
    background-color: black;
    padding: 0.5rem 1rem;
}

.hr-line-1 {
    border: 2px solid black;
    margin-top: .5em;
    margin-bottom: .5em;
}

.mark-1 {
    background-color: var(--main-color);
    padding: .4rem .8rem;
}

/* Summary */

details {
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .5em 5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: .5em;
}