.spacer-1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.spacer-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.spacer-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.spacer-4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}